<div class="login-container">
    <p-panel header="Login">
      <div class="p-fluid">
        <div class="p-field">
          <label for="username">Username</label>
          <input id="username" type="text" pInputText [(ngModel)]="username" />
        </div>
        <div class="p-field">
          <label for="password">Password</label>
          <p-password id="password" [(ngModel)]="password" toggleMask="true"></p-password>
        </div>
        <div class="p-field mt-3">
          <button pButton label="Login" (click)="login()" [disabled]="!username || !password"></button>
        </div>
      </div>
    </p-panel>
  </div>
  