<div class="login-container">
  <p-panel header="Login">
    <div class="p-fluid">
      <!-- Username Field -->
      <div class="p-field">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText [(ngModel)]="username" />
      </div>
      
      <!-- Password Field -->
      <div class="p-field">
        <label for="password">Password</label>
        <p-password id="password" [(ngModel)]="password" toggleMask="true"></p-password>
      </div>
      
      <!-- Error Message -->
      <div class="p-field mt-2">
        <label *ngIf="loginFailed" class="error-text text-danger">Incorrect username or password.</label>
      </div>
      
      <!-- Login Button -->
      <div class="p-field mt-3">
        <button pButton label="Login" (click)="Login()" [disabled]="!username || !password"></button>
      </div>
      
      <!-- Register Prompt -->
      <div class="p-field mt-3">
        <label class="register-text">
          Don't have an account? 
          <a  class="register-link" routerLink="/register">Register here</a>.
        </label>
      </div>
    </div>
  </p-panel>
</div>
