<div class="container mt-4">
  <h2 class="mb-5 text-center" style="color: #007bff; font-weight: bolder;">Add New Product</h2>
  <form (ngSubmit)="addProduct()" #productForm="ngForm" class="form-horizontal">
    <div class="row mt-5 mb-3">
      <div class="form-group col-md-6">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter product name"
          name="name"
          [(ngModel)]="newProduct.name"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          placeholder="Enter product description"
          name="description"
          [(ngModel)]="newProduct.description"
          required
        ></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="price">Price</label>
        <input
          type="number"
          id="price"
          class="form-control"
          placeholder="Enter product price"
          name="price"
          [(ngModel)]="newProduct.price"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="category">Category</label>
        <select 
       
        id="category"
        class="form-select"
        placeholder="Enter product category"
        name="category"
        [(ngModel)]="newProduct.category"
        required>
          <option *ngFor="let category of categories" [ngValue]="category">{{ category }}</option>
        </select>
        
      </div>
    </div>

    <div class="row mb-3">
      <div class="form-group col-md-6">
        <label for="stockQuantity">Stock Quantity</label>
        <input
          type="number"
          id="stockQuantity"
          class="form-control"
          placeholder="Enter stock quantity"
          name="stockQuantity"
          [(ngModel)]="newProduct.quantity"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="isAvailable">Available</label>
        <select
          id="isAvailable"
          class="form-select"
          name="isAvailable"
          [(ngModel)]="newProduct.available"
          required
        >
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center mt-5">
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mr-2 btn-lg">Add Product <i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger btn-lg" type="button" (click)="Cancel()">Cancel <i class="fas fa-times"></i></button>
      </div>
    </div>
  </form>
</div>
