.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls .pagination {
    margin: 0;
  }
  .bg{
    background-color: #F6F5F5;
    height: 100vh;
 }