<div class="bg">

    <div class="container p-2">
      <app-navbar></app-navbar>
    <div class="mt-4">
      <div class="card shadow p-3 mb-5 bg-white rounded border-0">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Reservation List</h2>
         
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>id</th>
              <th>user name</th>
              <th>Date</th>
              <th>offer name</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let resv of data  | paginate: { itemsPerPage: 5, currentPage: page } ; let i = index"       [ngStyle]="{ 'background-color': resv.statut === 'Refuse' ? '#ffe6e6' : resv.statut === 'Accept' ? '#e6ffe6' : 'white' }">
              
              <td>{{ resv.id }}</td>
              <td>{{ resv.user.username }}</td>
             
              <td>{{ resv.date | date:'yyyy-MM-dd'}} </td>
              <td>{{resv.hotelOffer.name}}</td>
              <td>
                <span class="badge" [ngClass]="{'bg-success': resv.statut=='Accept', 'bg-primary': resv.statut=='Padding', 'bg-danger': resv.statut=='Refuse'}">
                  {{ resv.statut}}
                </span>
              </td>
              <td>
                <button class="btn btn-primary btn-sm me-2" (click)="UpdateStatut('Accept', resv)">
                  <i class="fas fa-check"></i> Accept
                </button>
                <button class="btn btn-warning btn-sm me-2" (click)="UpdateStatut('Refuse', resv)">
                  <i class="fas fa-times"></i> Refuse
                </button>
                <button class="btn btn-danger btn-sm" (click)="Delete(resv.id)">
                  <i class="fas fa-trash"></i> Delete
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls
        previous Label="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
      </div>
    </div>
    </div>
    </div>