<div class="bg">

    <div class="container p-2">
      <app-navbar></app-navbar>
    <div class="mt-4">
      <div class="card shadow p-3 mb-5 bg-white rounded border-0">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h2>Reservation List</h2>
         
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Offer Name</th>
              <th>demandeur</th>
              <th>offre name</th>
              <th>Date</th>
              <th>statut</th>
              <th>price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           
          </tbody>
        </table>
        <pagination-controls
        previous Label="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
      </div>
    </div>
    </div>
    </div>