<div class="container">
    <h2 class="my-5 text-center">Update Hotel Offer</h2>
    <div header="Add Hotel Offer" [style]="{'height': '100%', 'width': '100%'}" styleClass="no-border">
      <div class="p-fluid">
        <!-- Offer Name -->
        <div class="p-field">
          <label for="offerName">Offer Name</label>
          <input id="offerName" type="text" pInputText [(ngModel)]="offer.name" placeholder="Enter offer name" />
        </div>
  
        <!-- Offer Description -->
        <div class="p-field">
          <label for="offerDescription">Description</label>
          <textarea id="offerDescription" pInputTextarea [(ngModel)]="offer.description" placeholder="Enter offer description"></textarea>
        </div>
  
        <!-- Offer Price -->
        <div class="p-field">
          <label for="offerPrice">Price</label>
          <input id="offerPrice" type="number" pInputText [(ngModel)]="offer.price" placeholder="Enter offer price" />
        </div>
  
        <!-- Offer Start Date -->
        <div class="p-field">
          <label for="startDate">Start Date</label>
          <p-calendar id="startDate" [(ngModel)]="offer.startDate" dateFormat="yy-mm-dd"></p-calendar>
        </div>
  
        <!-- Offer End Date -->
        <div class="p-field">
          <label for="endDate">End Date</label>
          <p-calendar id="endDate" [(ngModel)]="offer.endDate" dateFormat="yy-mm-dd"></p-calendar>
        </div>
  

        <div class="image-container my-4">
          <img [src]="'http://localhost:9000/offers/images/' + offer.image" alt="Card Image" style="width: 400px; height: auto;" />
         <!-- Image Picker -->
         <div class="p-field">
          <label for="imageUpload">Offer Image</label>
          <p-fileUpload
            id="imageUpload"
            name="image"
            mode="basic"
            accept="image/*"
            maxFileSize="1000000"
            (onSelect)="onImageSelect($event)" 
            chooseLabel="Choose Image"
          ></p-fileUpload>
        </div>
        </div>
        
       
  
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="offer.active">
          <label class="form-check-label" for="flexCheckDefault">
            Active
          </label>
        </div>
  
        <!-- Submit Button -->
        <div class="p-field mt-5">
          <button pButton label="Update Offer" icon="pi pi-check" (click)="submitOffer()" ></button>
        </div>
        <div class="p-field mt-3">
          <button pButton label="Cancel" icon="pi pi-times" severity="danger" (click)="Cancel()"></button>
        </div>
      </div>
    </div>
  </div>
  