<div class="container mt-4">
    <h2 class="mb-5 text-center" style="color: #28a745; font-weight: bolder;">Add New Supplier</h2>
    <form (ngSubmit)="addSupplier()" #productForm="ngForm" class="form-horizontal">
      <div class="row mt-5 mb-3">
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="Enter Supplier Name"
            name="name"
            [(ngModel)]="newSupllier.name"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <textarea
            id="description"
            class="form-control"
            placeholder="Enter Address "
            name="description"
            [(ngModel)]="newSupllier.address"
            required
          ></textarea>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="form-group col-md-6">
          <label for="phone">phone</label>
          <input
            type="number"
            
            class="form-control"
            placeholder="Enter phone number"
            name="phone"
            [(ngModel)]="newSupllier.phone"
            required
          />
        </div>
        <div class="form-group col-md-6">
          <label for="phone">Email</label>
      
          <input
          type="email"
          class="form-control"
          placeholder="Enter email "
          name="email"
          [(ngModel)]="newSupllier.email"
          required
        />
        </div>
      </div>
   
  
      <div class="row justify-content-center mt-5">
        <div class="col-auto">
          <button type="submit" class="btn btn-success mr-2 btn-lg">Add Supplier <i class="fa-solid fa-plus"></i></button>
        </div>
        <div class="col-auto">
          <button class="btn btn-danger btn-lg" type="button" (click)="Cancel()">Cancel <i class="fas fa-times"></i></button>
        </div>
      </div>
    </form>
  </div>
  